<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../../../vue.js" charset="utf-8"></script>
</head>
<body>
    <div id="dome3">
        <input type="text" name="" id="" v-model='val' @keydown.enter = 'add($event)'>
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#dome3",
            data: {
                items: [],
                val: ''
            },
            methods: {
                add(ev){
                    console.log(ev.keyCode);
                    this.items.push(this.val);
                    this.val = ''
                }
            }
        })
    </script>
</body>
</html>
