<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="./../js/vue.js" charset="utf-8"></script>
</head>
<body>
    <div id="app-4" v-bind:title='val' v-if='onOff'>
        <div  v-for='todo in todos'>
            {{todo.text}}
        </div>
    </div>
    <script type="text/javascript">
        var app4 = new Vue ({
            el: '#app-4',
            data: {
                val: new Date(),
                onOff: true,
                message: 'hello FF',
                todos: [
                    {text: 'name1'},
                    {text: 'name2'},
                    {text: 'name3'},
                    {text: 'name4'}
                ]
            }
        })
    </script>
</body>
</html>
